$circle-diameter: 180px;
$ball-diameter:   40px;

$color-1: rgba(255,149,0,1); /* orange */
$color-2: rgba(31,49,255,1); /* blue */

#animation {
  position: relative;
  height: $circle-diameter;
  width:  $circle-diameter;
}

.inside-spin {
  position: absolute;
  height: $circle-diameter;
  width:  $circle-diameter;
}
.hand-1 {
  z-index: 100;
  -webkit-animation: spin 3s linear 0s infinite;
          animation: spin 3s linear 0s infinite;
}
.hand-2 {
  z-index: 0;
  -webkit-animation: antispin 3s linear 0s infinite;
          animation: antispin 3s linear 0s infinite;
}

.ball {
  position: absolute;
  height: $ball-diameter;
  width:  $ball-diameter;
  left:   ($circle-diameter/2) - ($ball-diameter/2);
  z-index: 1;
  border-radius: 50%;
}
.ball-1 {
  background: $color-1;
  -webkit-animation: size 3s cubic-bezier(.25,0,.75,1) 0s infinite;
          animation: size 3s cubic-bezier(.25,0,.75,1) 0s infinite;
}
.ball-2 {
  background: $color-2;
  -webkit-animation: size 3s cubic-bezier(.25,0,.75,1) -1.5s infinite;
          animation: size 3s cubic-bezier(.25,0,.75,1) -1.5s infinite;
}

@keyframes spin {
  37.5% { z-index: 0; }
  87.5% { z-index: 100; }
  100% { transform: rotate(720deg); }
}
@-webkit-keyframes spin{
  37.5% { z-index: 0; }
  87.5% { z-index: 100; }
  100%  { -webkit-transform: rotate(720deg); }
}

@keyframes antispin {
  37.5% { z-index: 100; }
  87.5% { z-index: 0; }
  100% { transform: rotate(-720deg); }
}
@-webkit-keyframes antispin {
  37.5% { z-index: 100; }
  87.5% { z-index: 0; }
  100%  { -webkit-transform: rotate(-720deg); }
}

@keyframes size {
  50% { transform: scale(.5,.5); }
}
@-webkit-keyframes size {
  50% { -webkit-transform: scale(.5,.5); }
}
