h1 {
  text-align: center;
  margin: 2em auto;
}

#animation {
  position: relative;
  width:  180px;
  height: 180px;
  margin: 90px auto;
}

#caption {
  width:  300px;
  text-align: center;
  margin: 1em auto;
}

.ball {
  position: absolute;
  height: 30px;
  width:  30px;
  left:   75px;
  border-radius: 50%;
  background:    rgba(255,0,0,0.8);
}

.ball-1 {
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
  -webkit-animation: one 1.5s ease-in 0s infinite alternate;
          animation: one 1.5s ease-in 0s infinite alternate;
}
.ball-2 {
  -webkit-animation: two 1.5s ease-in 0s infinite alternate;
          animation: two 1.5s ease-in 0s infinite alternate;
}

@keyframes one {
  25% {
    transform: translateX(200%) translateY(200%);
  }
  50% {
    transform: translateX(0%) translateY(0%);
  }
  75% {
    transform: translateX(-200%) translateY(200%);
  }
  100% {
    transform: translateX(0%) translateY(400%);
  }
}
@-webkit-keyframes one {
  25% {
    -webkit-transform: translateX(200%) translateY(200%);
  }
  50% {
    -webkit-transform: translateX(0%) translateY(0%);
  }
  75% {
    -webkit-transform: translateX(-200%) translateY(200%);
  }
  100% {
    -webkit-transform: translateX(0%) translateY(400%);
  }
}

@keyframes two {
  25% {
    transform: translateX(-200%) translateY(200%);
  }
  50% {
    transform: translateX(0%) translateY(400%);
  }
  75% {
    transform: translateX(200%) translateY(200%);
  }
  100% {
    transform: translateX(0%) translateY(0%);
  }
}
@-webkit-keyframes two {
  25% {
    -webkit-transform: translateX(-200%) translateY(200%);
  }
  50% {
    -webkit-transform: translateX(0%) translateY(400%);
  }
  75% {
    -webkit-transform: translateX(200%) translateY(200%);
  }
  100% {
    -webkit-transform: translateX(0%) translateY(0%);
  }
}
