.ball {
  position: absolute;
  height: 25px;
  width:  25px;
  left:   50%;
  top:    50%;
}

.ball:before {
  content:    '';
  position:   absolute;
  background: rgba(255,0,0,0.5);
  height: 100%;
  width:  100%;
  border-radius: 50%;
  margin-left:  -50%;
  margin-top:   -50%;
}
.ball-1:before {
  transform: translateY(200%);
  animation: one 1.5s ease-in 0s infinite alternate;
}
.ball-2:before {
  transform: translateY(-200%);
  animation: two 1.5s ease-in 0s infinite alternate;
}

@keyframes one {
  25% {
    transform: translateX(200%) translateY(0%);
  }
  50% {
    transform: translateX(0%) translateY(-200%);
  }
  75% {
    transform: translateX(-200%) translateY(0%);
  }
  100% {
    transform: translateX(0%) translateY(200%);
  }
}

@keyframes two {
  25% {
    transform: translateX(-200%) translateY(0%);
  }
  50% {
    transform: translateX(0%) translateY(200%);
  }
  75% {
    transform: translateX(200%) translateY(0%);
  }
  100% {
    transform: translateX(0%) translateY(-200%);
  }
}

