#animation {
  position: relative;
  width:  50px;
  height: 50px;
  margin: 10em auto;
}

.ball {
  position: absolute;
  height:   40px;
  width:    40px;
  left:    -100%;
  top:      0%;
  z-index:  1;
  border-radius: 50%;
}

.ball-1 {
  background: rgba(255,149,0,1); /* orange */
  -webkit-animation: lead 6s infinite
                       -.5s cubic-bezier(0.25,0,0.75,1),
                     size 2s infinite
                       -1s cubic-bezier(0.25,0,0.75,1);
          animation: lead 6s infinite
                       -.5s cubic-bezier(0.25,0,0.75,1),
                     size 2s infinite
                       -1s cubic-bezier(0.25,0,0.75,1);
}
.ball-2 {
  background: rgba(31,49,255,1); /* blue */
  -webkit-animation: tail 6s infinite
                       .5s cubic-bezier(0.25,0,0.75,1),
                     size 2s infinite
                       0s cubic-bezier(0.25,0,0.75,1);
          animation: tail 6s infinite
                       .5s cubic-bezier(0.25,0,0.75,1),
                     size 2s infinite
                       0s cubic-bezier(0.25,0,0.75,1);
}

@keyframes lead {
  /* 0% top left */
  8.3%   { left: -100%; }
  16.7%  { left: -100%;
           top:   220%; z-index: 0; }   /* bottom left */
  25%    { left: -100%; }
  33.3%  { left: -100%;
           top:     0%; z-index: 100; } /* top left */
  41.7%  { left: -100%; }
  50%    { top:   220%; z-index: 0; }   /* bottom left */
  66.7%  { top:     0%; z-index: 0; }   /* top right */
  75%    { left:  100%; }
  83.3%  { top:   220%; z-index: 0; }   /* bottom right */
}
@-webkit-keyframes lead {
  /* 0% top left */
  8.3%   { left: -100%; }
  16.7%  { left: -100%;
           top:   220%; z-index: 0; }   /* bottom left */
  25%    { left: -100%; }
  33.3%  { left: -100%;
           top:     0%; z-index: 100; } /* top left */
  41.7%  { left: -100%; }
  50%    { top:   220%; z-index: 0; }   /* bottom left */
  66.7%  { top:     0%; z-index: 0; }   /* top right */
  75%    { left:  100%; }
  83.3%  { top:   220%; z-index: 0; }   /* bottom right */
}

@keyframes tail {
  /* 0% top left */
  8.3%  { left: -100%; }
  16.7% { top:   220%; z-index: 0; }   /* bottom left */
  33.3% { top:     0%; z-index: 100; } /* top right */
  41.7% { left:  100%; }
  50%   { left:  100%;
          top:   220%; z-index: 0; }   /* bottom right */
  66.7% { left:  100%;
          top:     0%; z-index: 100; } /* top right */
  75%   { left: 100%; }
  83.3% { top:   220%; z-index: 0; }   /* bottom right */
  100%  { top:     0%; z-index: 100; } /* top left */
}
@-webkit-keyframes tail {
  /* 0% top left */
  8.3%  { left: -100%; }
  16.7% { top:   220%; z-index: 0; }   /* bottom left */
  33.3% { top:     0%; z-index: 100; } /* top right */
  41.7% { left:  100%; }
  50%   { left:  100%;
          top:   220%; z-index: 0; }   /* bottom right */
  66.7% { left:  100%;
          top:     0%; z-index: 100; } /* top right */
  75%   { left: 100%; }
  83.3% { top:   220%; z-index: 0; }   /* bottom right */
  100%  { top:     0%; z-index: 100; } /* top left */
}

@keyframes size {
  50% { transform: scale(.5,.5); }
}
@-webkit-keyframes size {
  50% { -webkit-transform: scale(.5,.5); transform: scale(.5,.5); }
}
