$circle-diameter: 180px;
$ball-diameter:   40px;

$color-1: rgba(255,149,0,1); /* orange */
$color-2: rgba(31,49,255,1); /* blue */

h1 {
  text-align: center;
  margin: 2em auto;
}

#animation {
  position: relative;
  height: $circle-diameter;
  width:  $circle-diameter;
  margin: 90px auto;
}

#caption {
  width:  300px;
  text-align: center;
  margin: 1em auto;
}

.inside-spin {
  position: absolute;
  height: $circle-diameter;
  width:  $circle-diameter;
}
.hand-1 {
  -webkit-animation: spin 2s linear 0s infinite;
          animation: spin 2s linear 0s infinite;
}
.hand-2 {
  -webkit-animation: antispin 2s linear 0s infinite;
          animation: antispin 2s linear 0s infinite;
}

.ball {
  position: absolute;
  height: $ball-diameter;
  width:  $ball-diameter;
  left:   ($circle-diameter/2) - ($ball-diameter/2);
  border-radius: 50%;
}
.ball-1 {
  background: $color-1;
  z-index: 100;
}
.ball-2 {
  background: $color-2;
  z-index: 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes antispin {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes antispin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
