#animation {
  position: absolute;
  height:   100%;
  width:    100%;
}

.ball {
  position: absolute;
  height:   50px;
  width:    50px;
  left:     50%;
  top:      50%;
}
.ball:before {
  content:  '';
  position: absolute;
  height:   100%;
  width:    100%;
  left:    -100%;
  top:     -110%;
  z-index:  1;
  margin-left:  -50%;
  margin-top:   -50%;
  border-radius: 50%;
}

.ball-1:before {
  background: rgba(255,149,0,1);
  animation:  lead 8s infinite
                -.5s cubic-bezier(0.25,0,0.75,1),
              size 2s infinite
                -1s cubic-bezier(0.25,0,0.75,1);
}
.ball-2:before {
  background: rgba(31,49,255,1);
  animation: tail 4s infinite
               0s cubic-bezier(0.25,0,0.75,1),
             size 2s infinite
               -.5s cubic-bezier(0.25,0,0.75,1);
}

@keyframes lead {
  /* 0% top left */

  5%   {
    left: -100%;
  }

  /* bottom left */
  10%  {
    left: -100%;
    top:   110%;
    z-index: 100;
  }

  15%  {
    left: -100%;
  }

  /* top left */
  20%  {
    top:  -110%;
    z-index: 0;
  }

  /* bottom right */
  30%  {
    top:   110%;
    z-index: 100;
  }

  35%  {
    left: 100%;
  }

  /* top right */
  40%  {
    top:  -110%;
    z-index: 0;
  }

  /* bottom left */
  50%  {
    top:   110%;
    z-index: 100;
  }

  55%  {
    left: -100%;
  }

  /* top left */
  60%  {
    left: -100%;
    top:  -110%;
    z-index: 0;
  }

  65%  {
    left: -100%;
  }

  /* bottom left */
  70%  {
    top:   110%;
    z-index: 100;
  }

  /* top right */
  80%  {
    top:  -110%;
    z-index: 0;
  }

  85%  {
    left: 100%;
  }

  /* bottom right */
  90%  {
    top:   110%;
    z-index: 100;
  }

  /* top left */
  100% {
    top:  -110%;
    z-index: 0;
  }
}

@keyframes tail {
  15%  { left: -100%; }
  25%  { top:   110%; z-index: 0; }   /* bottom right */
  50%  { top:  -110%; z-index: 100; } /* top left */
  65%  { left:  100%; }
  75%  { top:   110%; z-index: 0; }   /* bottom left */
  100% { top:  -110%; z-index: 100; } /* top right */
}

@keyframes size {
  50% { transform: scale(.5,.5); }
}
