$outer-diameter: 180px;
$inner-diameter: $outer-diameter/2;
$ball-diameter:  30px;

$color-1: rgba(255,149,0,1); /* orange */
$color-2: rgba(31,49,255,1); /* blue */

h1 {
  text-align: center;
  margin: 2em auto;
}

#animation {
  width:  $outer-diameter;
  margin: 90px auto;
}

#caption {
  width:  300px;
  text-align: center;
  margin: 1em auto;
}

.outside-spin {
  position: relative;
  height: $outer-diameter;
  width:  $outer-diameter;
  -webkit-animation: spin 4s linear 0s infinite;
          animation: spin 4s linear 0s infinite;
}

.inside-spin {
  position: absolute;
  height: $inner-diameter;
  width:  $inner-diameter;
  -webkit-animation: antispin 1s linear 0s infinite;
          animation: antispin 1s linear 0s infinite;
}
.hand-1 {
  left: $inner-diameter/2; /* center horizontally */
  top:  0px;               /* start at 12 o'clock */
}
.hand-2 {
  left: $inner-diameter/2; /* center horizontally */
  top:  $inner-diameter;   /* start at 6 o'clock  */
}

.ball {
  position: absolute;
  height: $ball-diameter;
  width:  $ball-diameter;
  left:   ($inner-diameter/2) - ($ball-diameter/2);
  border-radius: 50%;
}
.ball-1 {
  background: $color-1;
}
.ball-2 {
  background: $color-2;
  top: $inner-diameter - $ball-diameter;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes antispin {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes antispin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
